# Xcode 기본 파일 및 빌드 산출물
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xcuserdatad
*.DS_Store
DerivedData/
build/

# Xcode 프로젝트에서 자동 생성/관리 파일/폴더 (기본 리소스)
AppDelegate.swift
SceneDelegate.swift
Assets.xcassets/
Info.plist
Base.lproj/
TodaySky.xcdatamodeld/
TodaySkyTests/TodaySkyTests.swift

# CocoaPods 등 외부 의존성
Pods/
